# --- Environmental Variables (Crucial) ---
.env
.env.local
.env.*.local
*.secret

# --- Database/Config Files (Do not track live data) ---
*.db
*.db-shm
*.db-wal
/config/*.xml
/config/*.json

# --- Docker & Logs ---
/logs
/tmp
*.log

# --- System & IDE files ---
.DS_Store
.idea/
.vscode/

# --- Jellyfin ---
jellyfin/data/
jellyfin/log/
jellyfin/cache/
jellyfin/config/logging.json

# --- Kapitan ---
.kapitan
inventory/classes/arr-secrets.yml
compiled/

# --- Secrets ---
secrets/arr-secrets.yml